.menu, .logo {
	display: inline-block;
	vertical-align: middle;
}
.menu {
	width: 800px;
}
.menu a {
	text-transform: uppercase;
	text-align: center;
	margin: 30px;
	font: 22px Arial, sans-serif;
	text-decoration: none;
}
.logo {
	width: 200px;
	height: 183px;
	background-image: url("logo.jpg");
}

body {
	background-color: green;
	color: #A59361;
	font-weight: bold;
}

.wrapper {
	background-image: url("fu.jpg");
	outline: #A59361 solid 3px;
}

h1 {
	text-transform: uppercase;
}

a:active {
	color: green;
}

a:visited {
	color: blue;
}

a:hover {
	color:red;
}